:root {
    --main-font: "Noto Serif TC", serif;
    --main-color: #ffe2d7;
    --first-color: #a74444;
    --secondary-color: #3b6580;
    --sup-one: #faf8ef;
    --sup-two: #f0e6bc;
    --white: #ffffff;
  
    --font-size-title: 48px;
    --font-size-sec-title: 32px;
    --font-size-subtitle: 24px;
    --font-size-describe: 20px;
  
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
  }