@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Noto+Sans+JP:wght@300;500;700;900&display=swap");
@import url("nav-footer.css");

:root {
  --main-font: "Noto Serif TC", serif;
  --main-color: #ffe2d7;
  --first-color: #a74444;
  --secondary-color: #3b6580;
  --sup-one: #faf8ef;
  --sup-two: #f0e6bc;
  --white: #ffffff;

  --font-size-title: 48px;
  --font-size-sec-title: 32px;
  --font-size-subtitle: 24px;
  --font-size-describe: 20px;

  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  background-color: var(--main-color);

  .main-content {
    width: 100%;

    .store {
        width: 100%;
      .store-info {
        display: flex;
        padding-block: 80px;
        margin: auto;
        width: 1200px;
        img{
            width: 50%;
        }
        .store-detail {
          background-color: var(--sup-one);
          width: 50%;
          height: 456px;
          padding-block: 36px;
          border-radius: 0 16px 16px 0;

          .test-detail {
            width: 572px;
            height: 384px;
            border-style: solid;
            border-width: 8px 8px 8px 0;
            border-image: linear-gradient(
              to right,
              rgba(255, 0, 0, 0),
              var(--first-color)
            );
            border-image-slice: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            clip-path: inset(0 round 8px);

            .test {
              color: var(--secondary-color);

              .Store-address {
                font-size: var(--font-size-title);
              }

              .small-test:not(:last-child) {
                letter-spacing: 5px;
              }

              .small-test {
                font-size: var(--font-size-subtitle);
              }

              .test-content:not(:last-child) {
                margin-bottom: 16px;
              }

              .bx {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }

    .store-two {
      margin-bottom: 80px;

      .store-info {
        display: flex;
        padding-block: 80px;
        margin: auto;
        width: 1200px;
        img{
            width: 50%;
        }

        .store-detail {
          background-color: var(--sup-one);
          width: 50%;
          padding-block: 36px 36px;
          border-radius: 16px 0px 0px 16px;
          padding-left: 36px;

          .test-detail {
            width: 572px;
            height: 384px;
            border-style: solid;
            border-width: 8px 0 8px 8px;
            border-radius: 16px;
            border-image: linear-gradient(
              to left,
              rgba(255, 0, 0, 0),
              var(--first-color)
            );
            border-image-slice: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            clip-path: inset(0 round 8px);

            .test {
              color: var(--secondary-color);

              .Store-address {
                font-size: var(--font-size-title);
              }

              .small-test:not(:last-child) {
                letter-spacing: 5px;
              }

              .small-test {
                font-size: var(--font-size-subtitle);
              }

              .test-content:not(:last-child) {
                margin-bottom: 16px;
              }

              .bx {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }

  .contactus {
    width: 100%;
    margin: auto;
    padding: 0 80px 80px;
    .title {
      width: 565px;
      height: 160px;
      color: var(--first-color);
      font-size: var(--font-size-title);
      font-weight: var(--font-weight-bold);
      letter-spacing: 15px;
      margin: auto;
      margin-bottom: 80px;
      position: relative;
    }

    span {
      background: linear-gradient(to bottom, #aa0000, #d1d1d1, #ffffff);
      background: -webkit-linear-gradient(to bottom, #aa0000, #d1d1d1, #ffffff);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-family: "Italianno", cursive;
      font-size: 128px;
      font-weight: 400;
    }

    p {
      font-size: --font-size-title;
      position: absolute;
      bottom: 10px;
      left: 165px;
    }
  }

  .contact-form-all {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    .contact-form {
        max-width: 77%;
      margin-right: 36px;
      .contact-lable {
        width: 100%;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;

        input {
          width: 48%;
          height: 100%;
          border-radius: 8px;
         padding: 18px 36px;
          background-color: #ffffff88;
          font-size: var(--font-size-sec-title);
          font-family: var(--main-font);
          border:2px solid var(--first-color);
          color: var(--first-color);
          outline: none;
          &:focus{
            background-color: var(--sup-one);
          }
        }
      }

      .Message-area {
        width: 100%;
        height: 360px;
        padding: 18px 36px;
        overflow-x: visible;
        overflow-y: visible;
        border:2px solid var(--first-color);
        margin-bottom: 24px;
        border-radius: 8px;
        background-color: #ffffff88;
        font-size: var(--font-size-sec-title);
        color: var(--first-color);
        font-family: var(--main-font);
        outline: none;
          &:focus{
            background-color: var(--sup-one);
          }
      }

      .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          width: 300px;
          height: 60px;
          border-radius: 50px;
          border-color: var(--first-color);
          background-color: var(--main-color);
          cursor: pointer;
          font-size: var(--font-size-subtitle);
          color: var(--first-color);
          font-weight: bolder;
          box-shadow: 0 0 16px #d1d1d1bb;
          font-family: var(--main-font);
        }

        button:hover {
          background-color: var(--first-color);
          color: var(--sup-two);
        }
      }

    }
    .contact-icon {
      width: 250px;
      height: 100%;
      a {
          display: inline-block;
        .line-link {
          display: flex;
          flex-direction: column;
          img{
              &:first-child{
                  margin-bottom: 72px;
              }
          }
        }
      }
    }
  }
}
