@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Noto+Sans+JP:wght@300;500;700;900&display=swap");
@import url("nav-footer.css");

:root {
    --main-font: "Noto Serif TC", serif;
    --main-color: #ffe2d7;
    --first-color: #a74444;
    --secondary-color: #3b6580;
    --sup-one: #faf8ef;
    --sup-two: #f0e6bc;
    --white: #ffffff;

    --font-size-title: 48px;
    --font-size-sec-title: 32px;
    --font-size-subtitle: 24px;
    --font-size-describe: 20px;

    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

.main-container {
    background-color: var(--main-color);

    .main-content {
        width: 100%;

        .store {
            .store-info {
                display: flex;
                padding-block: 80px;
                margin: auto;
                width: 1216px;

                .store-detail {
                    background-color: var(--sup-two);
                    width: 608px;
                    height: 456px;
                    padding-block: 36px;
                    border-radius: 0 16px 16px 0;

                    .test-detail {
                        width: 572px;
                        height: 384px;
                        border-style: solid;
                        border-width:  4px 4px 4px 0;
                        border-color:  var(--first-color);
                        border-radius: 0 16px 16px 0;
                    }
                }
            }
        }
    }

}