@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Noto+Sans+JP:wght@300;500;700;900&display=swap");
@import url("base.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  height: 100%;
  background-color: var(--main-color);
  font-family: var(--main-font);
}
body .background {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  max-width: 1440px;
  z-index: -2;
}
body .goTop {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: var(--first-color);
  background-color: var(--sup-one);
  box-shadow: 0 0 8px rgba(167, 68, 68, 0.7333333333);
  z-index: 3;
}
body .goTop i,
body .goTop p {
  display: inline-block;
  color: var(--first-color);
  font-size: 18px;
}
body .goTop i {
  transition: all 0.2s ease;
}
body .goTop:hover {
  cursor: pointer;
  background-color: var(--main-color);
}
body .goTop:hover i {
  transform: translateY(-5px);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  position: sticky;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 104px;
  width: 100%;
  height: 80px;
  background-color: var(--white);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-semibold);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.navbar .logo {
  width: 268px;
  height: 60px;
}
.navbar .logo img {
  width: 100%;
  height: 100%;
}
.navbar .nav {
  display: flex;
  gap: 4px;
}
.navbar .nav .nav-item {
  font-weight: var(--font-weight-semibold);
}
.navbar .nav .nav-item a {
  padding: 16px;
  color: var(--secondary-color);
}
.navbar .nav .nav-item:hover a {
  color: var(--main-color);
  background-color: var(--first-color);
}
.navbar .nav .nav-item:nth-child(5) a {
  color: var(--main-color);
  background-color: var(--first-color);
}
.navbar .nav .nav-item:nth-child(6) a {
  padding: 14px;
  border: 2px solid var(--first-color);
}
.navbar .nav .service {
  position: relative;
}
.navbar .nav .service:hover .navlist {
  display: block;
}
.navbar .nav .service .navlist {
  display: none;
  width: 288px;
  height: auto;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: center;
  z-index: 1;
}
.navbar .nav .service .navlist .list-item:hover a {
  color: var(--secondary-color);
  background-color: var(--sup-one);
}
.navbar .nav .service .navlist a {
  display: inline-block;
  width: 100%;
  padding: 18px 36px;
  color: var(--sup-one);
  background-color: var(--first-color);
}

header {
  width: 100%;
  position: relative;
  overflow: hidden;
}
header .container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .banner {
  width: 85%;
  display: flex;
  justify-content: center;
}
header .container .banner img {
  width: 100%;
}
header .container .banner-title {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(167, 68, 68, 0.7019607843);
  font-size: var(--font-size-title);
  padding: 20px 40px;
  color: var(--sup-one);
}
header .container .banner-title p {
  letter-spacing: 10px;
  text-align: left;
}
header .container .banner-title p:last-child {
  text-align: right;
}
header .news {
  width: 90%;
  transform: translate(30%, -40%);
}

main {
  width: 100%;
}
main .about {
  margin-top: -50px;
  width: 100%;
}
main .about .container {
  position: relative;
  width: 100%;
  height: 1160px;
}
main .about .container .about-imgR {
  position: absolute;
  right: 5%;
  bottom: 0%;
  width: 280px;
}
main .about .container .about-imgOne {
  position: relative;
  top: -10%;
  left: 100%;
  transform: translateX(-100%);
  width: 900px;
  aspect-ratio: 4/3;
}
main .about .container .about-imgOne img {
  width: 100%;
  height: 100%;
}
main .about .container .about-detail {
  position: relative;
  top: -50%;
  left: 40%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 800px;
  height: 600px;
  padding: 64px 128px;
  background-color: var(--sup-one);
  box-shadow: 0 0 12px rgba(167, 68, 68, 0.4);
  z-index: 1;
}
main .about .container .about-detail .about-imgL {
  position: absolute;
  top: -37%;
  left: -5px;
  height: 220px;
}
main .about .container .about-detail .title {
  color: var(--first-color);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  letter-spacing: 8px;
}
main .about .container .about-detail .title span {
  background: linear-gradient(to bottom, #3b6580, #d1d1d1, #ffffff);
  background: -webkit-linear-gradient(to bottom, #3b6580, #d1d1d1, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Italianno", cursive;
  font-size: 128px;
  font-weight: 400;
}
main .about .container .about-detail p {
  color: var(--secondary-color);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  letter-spacing: 4px;
}
main .about .container .about-detail .more {
  width: 200px;
  height: 60px;
  background-color: var(--secondary-color);
  color: var(--sup-one);
  box-shadow: 0 0 12px rgba(209, 209, 209, 0.7333333333);
  font-size: var(--font-size-describe);
  font-weight: var(--font-weight-bold);
  margin-top: 16px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 4px;
}
main .about .container .about-detail .more:hover {
  background-color: var(--first-color);
}
main .about .container .about-imgTwo {
  position: relative;
  top: -50%;
  width: 500px;
  aspect-ratio: 4/3;
}
main .about .container .about-imgTwo img {
  width: 100%;
  height: 100%;
}
main .service {
  position: relative;
  width: 100%;
  margin-top: 60px;
}
main .service .container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(167, 68, 68, 0.2);
  padding-block: 200px;
  gap: 20px;
  overflow: hidden;
}
main .service .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 202px;
  background: url(../Image/BG/service-bg-top.png) no-repeat;
  background-size: cover;
  background-position: center;
}
main .service .container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 202px;
  background: url(../Image/BG/service-bg-bottom.png) no-repeat;
  background-size: cover;
  background-position: center;
}
main .service .container .service-line {
  position: absolute;
  top: 0;
  left: -3px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
main .service .container .title {
  color: var(--first-color);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  letter-spacing: 8px;
  margin-top: -80px;
}
main .service .container .title span {
  background: linear-gradient(to bottom, #3b6580, #d1d1d1, #ffffff);
  background: -webkit-linear-gradient(to bottom, #3b6580, #d1d1d1, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Italianno", cursive;
  font-size: 128px;
  font-weight: 400;
}
main .service .container .more {
  display: inline-block;
  width: 200px;
  height: 60px;
  background-color: var(--secondary-color);
  color: var(--sup-one);
  box-shadow: 0 0 12px rgba(209, 209, 209, 0.7333333333);
  font-size: var(--font-size-describe);
  font-weight: var(--font-weight-bold);
  margin-top: 30px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 4px;
}
main .service .container .more:hover {
  background-color: var(--first-color);
}
main .marquee {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
main .marquee .title {
  text-align: center;
  color: var(--first-color);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  letter-spacing: 8px;
  margin-bottom: -60px;
}
main .marquee .title span {
  background: linear-gradient(to bottom, #3b6580, #d1d1d1, #ffffff);
  background: -webkit-linear-gradient(to bottom, #3b6580, #d1d1d1, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Italianno", cursive;
  font-size: 128px;
  font-weight: 400;
}
main .marquee .photo-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
main .marquee .photo-container .view {
  overflow: hidden;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
main .marquee .photo-container .view:nth-of-type(2) {
  position: relative;
  left: -10%;
  align-items: start;
}
main .marquee .photo-container .view:nth-of-type(2) .pic-container {
  display: flex;
  flex-flow: row-reverse;
  margin-top: -8%;
  animation: toRight 20s infinite linear;
}
@keyframes toRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
main .marquee .photo-container .view:nth-of-type(2) .pic-container .pic {
  flex-basis: 20%;
  flex-shrink: 0;
}
main .marquee .photo-container .view:nth-of-type(2) .pic-container .pic img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
main .marquee .photo-container .view img {
  width: 90%;
}
main .marquee .photo-container .view .pic-container {
  display: flex;
  margin-top: -8%;
  animation: toLeft 20s infinite linear;
}
@keyframes toLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
main .marquee .photo-container .view .pic-container .pic {
  flex-basis: 20%;
  flex-shrink: 0;
}
main .marquee .photo-container .view .pic-container .pic img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
main .marquee .more {
  display: inline-block;
  width: 200px;
  height: 60px;
  background-color: var(--secondary-color);
  color: var(--sup-one);
  box-shadow: 0 0 12px rgba(209, 209, 209, 0.7333333333);
  font-size: var(--font-size-describe);
  font-weight: var(--font-weight-bold);
  margin-top: 32px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 4px;
}
main .marquee .more:hover {
  background-color: var(--first-color);
}
main .more-link {
  position: relative;
  width: 100%;
  padding: 60px 0;
}
main .more-link .title {
  text-align: center;
  color: var(--first-color);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  letter-spacing: 8px;
}
main .more-link .title span {
  background: linear-gradient(to bottom, #3b6580, #d1d1d1, #ffffff);
  background: -webkit-linear-gradient(to bottom, #3b6580, #d1d1d1, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Italianno", cursive;
  font-size: 128px;
  font-weight: 400;
}
main .more-link .related-img {
  position: absolute;
  top: -5%;
  right: 8%;
  width: 270px;
  z-index: -2;
}
main .more-link .container {
  background-color: var(--sup-one);
  padding: 40px 0;
}
main .more-link .container .link {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  gap: 16px;
  border-top: 1px solid var(--first-color);
  border-bottom: 1px solid var(--first-color);
}
main .more-link .container .link a {
  display: inline-block;
}
main .more-link .container .link a img {
  width: 200px;
}

.footer {
  width: 100%;
  height: 300px;
}
.footer .container {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
  color: var(--secondary-color);
  font-size: var(--font-size-describe);
  font-weight: var(--font-weight-medium);
}
.footer .container .info {
  width: auto;
}
.footer .container .info .content-img {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.footer .container .info .content-img img {
  height: 60px;
}
.footer .container .info .content {
  margin-top: 30px;
  width: 640px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.footer .container .info .content li:hover a {
  background-color: var(--first-color);
  color: var(--main-color);
}
.footer .container .info .content li a {
  padding: 4px 8px;
  color: var(--secondary-color);
}
.footer .container .store {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer .container .store .store-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .container .store .store-info p i {
  margin-right: 4px;
}/*# sourceMappingURL=style.css.map */